/* ?==========  Variables  ==========? */
:root {
  /* COLORS */
  --main-color: #2ec78c;
  --alt-main-color: #1f865f;
  --button-text-color: #000;
  --text-color: #ffffff;
  /* Background Gradiants */
  --bg-1-color: #1e1c2a;
  --bg-2-color: #1e1c2a;
  /* Wave SVG Gradiants */
  --wave-1-color: #ffffff;
  /* FONTS */
  --big-font: 5rem;
  --h2-font: 2.25rem;
  /* NAVBAR */
  --nav-height: 90px;
  --section-height: 80px;
}

/* !=====  NO TOCAR ======! */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.background_animation {
  background: #1e1c2a;
  width: 100%;
  height: 100%;
}

.section {
  padding: var(--section-height) 15%;
  color: var(--text-color);
}

/* El primer SECTION toma en cuenta el tamaño del NAVBAR*/
.section:nth-child(1) {
  padding: calc(var(--section-height) + var(--nav-height)) 15% var(--section-height);
}

.section div {
  padding: 0;
}

/* POSICIONAMIENTO */
.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* COLORES */
.navbar_transparent {
  background: transparent;
}

.navbar_color {
  background: rgba(255, 255, 255, 0.11);
}

/* !==================== CONTENIDO ====================!  */

/* *===== MAGIPO ======* */
/* ?===== HEADER ======? */
.navbar-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
  height: var(--nav-height);
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background .5s ease;
}

.logo-container a {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  transition: all .5s ease;
}

.logo-container a:hover {
  color: var(--main-color);
  transform: scale(1);
}

.navbar-container .nav-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-container .nav-list .nav-item a {
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.navbar-container .nav-list .nav-item:after {
  display: block;
  content: "";
  border-top: 2px solid var(--main-color);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-list .nav-item:hover:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.navbar-container .nav-list .nav-item a:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.navbar-container .nav-list .login-register {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* BURGUER MENU */

.navbar-container .nav-list.active {
  right: 0;
}

/* LINK ACTIVO */

.navbar-container .nav-item.active a {
  color: var(--main-color);
  font-weight: 500;
}

.login-register .button_1.active {
  background: var(--main-color);
  color: var(--button-text-color);
}

@media (max-width: 1680px) {}

@media (max-width: 1024px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-container .nav-list {
    gap: 1rem;
  }

  .nav-list .nav-item a,
  .button_1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .navbar-container {
    justify-content: space-between;
    background: var(--bg-1-color);
  }

  .navbar-container .nav-list {
    flex-direction: column;
    position: fixed;
    top: 70px;
    width: 100vw;
    background: var(--bg-1-color);
    padding: 3rem 0;
    height: 100vh;
    z-index: 99;
    right: -100%;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
  }

  .bars {
    height: auto;
    width: 22px;
    cursor: pointer;
  }

  .bars .bar {
    height: 2px;
    width: 100%;
    background: #fff;
    margin: 4px;
  }

  .navbar-container .nav-list {
    gap: 3rem;
  }

  .navbar-container .nav-list .login-register {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    width: 50%;
  }

  .login-register .button_1 {
    padding: 1rem 0;
  }
}

@media (max-width: 400px) {}

/* ?===== HOME ======? */
main .section:nth-child(2) {
  background: #1D1D1D;
}

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* *===== ANA MARIA ======* */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* *===== BRIAN ======* */
/* ?===== ABOUT US ======? */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* *===== HITALO ======* */
/* ?===== CONTACT ======? */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* *===== WILLY ======* */
/* ?===== LOGIN ======? */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* ?===== REGISTER ======? */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}

/* *===== MAGIPO ======* */
/* ?===== FOOTER =====? */
/* CONTENIDO */

@media (max-width: 1680px) {}

@media (max-width: 1024px) {}

@media (max-width: 650px) {}

@media (max-width: 400px) {}